* {
    box-sizing: border-box;
}
body {
    background-color: rgba(255,247,224,10);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
}
#perfil {
    display: block;
    margin-left: auto;
  }
#patitas {
    float: left;
    flex-flow:column nowrap;
    display: block;
    margin-right: auto;
}
  h1 {
    background: url(https://i.pinimg.com/736x/84/ed/bf/84edbf3e5f56bfde28bc397b54a035c6.jpg);
    background-attachment:fixed;
    color:black;
    text-align: right;
    margin: 5px 0px 0px 10px;
}
h3 {
    text-align: right;
    margin: 5px 0px 10px 10px;
}
aside {
    display:flex;
    width:25%;
    float: left;
    flex-flow:column nowrap;
    flex: auto;
    border-radius:10px 10px 10px 10px;
    padding:5px 5px;
    justify-content:space-between;
    box-shadow: 5px 5px 5px 5px rgb(255,191,0);
}
main {
    font-size: 14px;
    text-align: justify;
    display:flex;
    width: 65%;
    float: right;
    flex-flow:column nowrap;
    flex: auto;
    border-radius:10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
    justify-content:space-between;
    box-shadow: 5px 10px 5px 10px rgb(255,191,0);
}
#dueña {
    margin: auto;
    background-color: rgb(245, 220, 144);
    font-size: 12px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-color: #787e80d8;
}
#contrincante1 {
    margin: auto;
    background-color: rgb(245, 220, 144);
    font-size: 12px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-color: #787e80d8;
}
#contrincante2 {
    margin: auto;
    background-color: rgb(245, 220, 144);
    font-size: 12px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-color: #787e80d8;
}